@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#mapNew {
  height: calc(100vh - 200px);
  width: 100%;
  position: relative;
  // Info Window Styles
  button.gm-ui-hover-effect[title="Close"] {
    top: 0px !important;
    right: 0px !important;
  }
  .gm-style .gm-style-iw-c {
    background: #ffffff;
    box-shadow: 0px 100px 80px rgba(198, 197, 217, 0.07),
      0px 41.7776px 33.4221px rgba(198, 197, 217, 0.0503198),
      0px 22.3363px 17.869px rgba(198, 197, 217, 0.0417275),
      0px 12.5216px 10.0172px rgba(198, 197, 217, 0.035),
      0px 6.6501px 5.32008px rgba(198, 197, 217, 0.0282725),
      0px 2.76726px 2.21381px rgba(198, 197, 217, 0.0196802);
    border-radius: 10px;
    padding: 0px;
  }
  .gm-style .gm-style-iw-d {
    padding: 25px 5px 15px 20px;
  }

  // Geo Location Styles
}
.heatlist {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 100px;
  z-index: 100;
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.44px;
    color: #000000;
  }
  .heatlist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .heatlist-item {
    display: flex;
    flex-direction: row;
    div {
      width: 18px;
      height: 18px;
      background: #ff0a01;
      margin-right: 20px;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.01em;
      color: #000000;
      opacity: 0.6;
    }
  }
}

.info-window {
  max-width: 320px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // Header Styles
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    img {
      width: 21px;
      heigth: 21px;
    }
    h4 {
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 0px;
    }
  }

  // Total Assets Styles
  &__total {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 16px;
      color: #000000;
      opacity: 0.6;
      margin-bottom: 0px;
    }

    h4 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: -0.03em;
      color: #1a1d1f;
      margin-bottom: 0px;
    }
  }

  // Group Assets Styles
  &__groups {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    &-card {
      min-height: 110px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      h4 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #1a1d1f;
      }

      h5 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #000000;
        opacity: 0.6;
      }
    }

    .info-window__groups-card.bg-blue {
      background: rgba(177, 299, 252, 0.25);
    }
    .info-window__groups-card.bg-purple {
      background: rgba(202, 189, 255, 0.25);
    }

    .info-window__groups-card.bg-red {
      background: rgba(235, 87, 87, 0.15);
    }
    .info-window__groups-card.bg-green {
      // background: rgba(33, 150, 83, 0.25);
      background: rgba(199, 229, 212, 0.4);
    }
  }
}

// Zoom Controls Styles
.mapNew__zoom-controls {
  // @media screen and (min-width: 1024px) {
  //   top: 90px;
  //   bottom: unset;
  // }
  bottom: 150px;
  position: absolute;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  min-height: 160px;
  width: 60px;
  border-radius: 100px;
  background: #2a347b;
  &-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-size: 34px;
  }
}

// Custom Search Styles
.mapNew__geo-location {
  position: absolute;
  bottom: 50px;
  // @media screen and (min-width: 1280px) {
  //   bottom: 223px;
  // }
  right: 25px;
  min-height: 80px;
  min-width: 80px;
  &-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    height: 50px;
    width: 50px;
    img {
      width: 60px;
    }
  }
}
.mapNew__custom-search {
  position: absolute;
  top: 20px;
  right: 200px;
  @media screen and (max-width: 480px) {
    right: 135px;
  }

  &-el {
    max-width: 350px;
    position: relative;
  }
  img {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
  }
  input {
    padding: 25px 25px 25px 75px;
    max-width: 350px;
    height: 50px;
    background: #ffffff;
    box-shadow: 0px 100px 80px rgba(198, 197, 217, 0.07),
      0px 41.7776px 33.4221px rgba(198, 197, 217, 0.0503198),
      0px 22.3363px 17.869px rgba(198, 197, 217, 0.0417275),
      0px 12.5216px 10.0172px rgba(198, 197, 217, 0.035),
      0px 6.6501px 5.32008px rgba(198, 197, 217, 0.0282725),
      0px 2.76726px 2.21381px rgba(198, 197, 217, 0.0196802);
    border-radius: 40px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    color: rgba(149, 157, 178, 1);
    outline: none;
    border: transparent;
    @media screen and (max-width: 480px) {
      max-width: 180px;
    }

    &::placeholder {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 14px;
      color: rgba(149, 157, 178, 0.5);
      margin: 0px !important;
      padding: 0px !important;
    }
  }

  &-results {
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 100px 80px rgba(198, 197, 217, 0.07),
      0px 41.7776px 33.4221px rgba(198, 197, 217, 0.0503198),
      0px 22.3363px 17.869px rgba(198, 197, 217, 0.0417275),
      0px 12.5216px 10.0172px rgba(198, 197, 217, 0.035),
      0px 6.6501px 5.32008px rgba(198, 197, 217, 0.0282725),
      0px 2.76726px 2.21381px rgba(198, 197, 217, 0.0196802);
    background: #fff;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 260px;
    cursor: pointer;

    @media screen and (max-width: 480px) {
      max-width: 180px;
    }
    &-el {
      padding-right: 10px;
      padding-left: 10px;
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 16px;
      color: rgba(149, 157, 178, 0.9);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: 0.3s;

      &:hover {
        font-size: 16.2px;
      }
    }
  }
}
.filter-item {
  background-color: white;
  /* box-shadow: 3px 1px; */
  /* box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 3px 10px 0 rgb(0 0 0 / 9%); */
  width: 150px;
  height: 50px;
  /* border: yellowgreen; */
  /* border-width: 2px; */
  border-style: solid;
  border-width: thin;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  p {
    margin: 0px;
  }
}
.filter {
  background-color: #2a347b;
  margin-left: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 140px;
  transition: 0.3s;
  cursor: pointer;
  @media screen and (max-width: 480px) {
    right: 80px;
  }

  img {
    height: 25px !important;
    width: 25px !important;
    filter: brightness(0) invert(1);
  }
}

.filter:hover {
  width: 52px;
  height: 52px;
}
.gm-style-iw > button {
  display: none !important;
}

.gm-style > div:nth-child(9) > button {
  margin-right: 35px !important;
  top: 13px !important;
}
